{% load model_tags %}from django_filters.rest_framework import DjangoFilterBackend
from rest_framework import filters
from rest_framework.generics import GenericAPIView, RetrieveUpdateDestroyAPIView
from rest_framework.mixins import ListModelMixin
from rest_framework.response import Response

from {{ app }}.models import {{ model_names|join:", "}}
from {{ app }}.serializers import {{ model_names|addsuffix:"Serializer"|join:", "}}
{% for model in models %}

class {{ model|name }}View(ListModelMixin, GenericAPIView):
    queryset = {{ model|name }}.objects.all()
    serializer_class = {{ model|name }}Serializer
    filter_backends = [DjangoFilterBackend, filters.OrderingFilter]
    filter_fields = '__all__'
    ordering_fields = '__all__'

    def get(self, request, *args, **kwargs):
        return self.list(request, *args, **kwargs)

    def post(self, request):
        serializer = {{ model|name }}Serializer(data=request.data)
        if serializer.is_valid(raise_exception=True):
            {{ model|name|lower }}_saved = serializer.save()
        return Response({'pk': format({{ model|name|lower }}_saved.pk)}, status=201)

    def put(self, request, pk):
        {{ model|name|lower }} = get_object_or_404({{ model|name }}.objects.all(), pk=pk)
        serializer = {{ model|name }}Serializer(
            instance={{ model|name|lower }}, data=request.data, partial=True)
        if serializer.is_valid(raise_exception=True):
            {{ model|name|lower }}_saved = serializer.save()
        return Response({})

    def delete(self, request, pk):
        {{ model|name|lower }} = get_object_or_404({{ model|name }}.objects.all(), pk=pk)
        {{ model|name|lower }}.delete()
        return Response({}, status=204)


class Single{{ model|name }}View(RetrieveUpdateDestroyAPIView):
    queryset = {{ model|name }}.objects.all()
    serializer_class = {{ model|name }}Serializer
    filter_backends = [DjangoFilterBackend]
    filter_fields = '__all__'
{% endfor %}